@page "/dash/modules"
@using OpenShock.Desktop.ModuleManager.Repository
@using OpenShock.Desktop.Ui.Pages.Dash.Components
@inject RepositoryManager RepositoryManager

<div class="d-flex gap-3 flex-column">
    @foreach (var (repoUri, repoContext) in RepositoryManager.Repositories.Where(x => x.Value.Repository != null))
    {
        foreach (var module in repoContext.Repository!.Modules)
        {
            <ModuleManagerItem ModulePair="module"/>
        }
    }
    
</div>

@code {
    
}