.module-manager-item-root {
  padding: 15px;
  height: 150px;
  flex: 1 1 48%;
  
  &:hover {
    box-shadow: 0 0 10px 0 rgba(124, 124, 124, 0.39);
  }
  
  & .icon {
    height: 100%;
    aspect-ratio: 1 / 1;
  }

  .slim-split-button button {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}